@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

@layer components {
  /* Hides scrollbars on specific elements for a cleaner visual appearance. */
  .critch-overflow-hidden-scroll::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  /* Styles for visually indicating the currently active channel */
  .critch-active-channel {
    @apply sticky 
    m-2 
    flex cursor-pointer
    items-center 
    rounded-md
    bg-hard-white
    p-2
    text-sm 
    text-default-txt;
  }
  .critch-active-channel::before {
    content: '';
    @apply absolute
    -right-[calc(1.7rem)]
    m-2
    h-9
    w-1
    -translate-x-2.5
    rounded-md
    bg-soft-purble/75;
  }
}

/* Styles for channels that are not currently active */
@layer components {
  .critch-inactive-channel {
    @apply m-2 
    flex 
    w-48 cursor-pointer 
    items-center 
    rounded-md
    bg-hard-white/25 
    p-2 
    text-sm 
    text-default-txt
    duration-150
    hover:bg-hard-white;
  }
}

/*
  Styles for error messages, including animations for visual feedback:
*/
@layer components {
  .critch-error-message {
    @apply fixed right-[calc(-90%)] 
    top-[calc(-20%)] 
    m-2 flex 
    h-12 w-80 
    items-center
    justify-center 
    rounded-md 
    bg-soft-white 
    p-2 
    text-sm font-semibold
    text-default-txt;
  }
  /* Base styles for the error message container */
  .critch-error-message::after {
    content: '';
    position: absolute;
    height: 5px;
    bottom: 0;
    animation: decreaseWidth 2000ms linear 1;
  }

  /* Creates a visually appealing animated bar beneath the error message */
  .critch-error-message-animated {
    animation-duration: 2000;
    animation-name: hideAfterDelay;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  /* Animates the width and color of the bar beneath the error message */
  @keyframes decreaseWidth {
    from {
      width: 100%;
      @apply rounded-md bg-active-green;
    }

    to {
      width: 0%;
      background-color: red;
    }
  }

  /* Animates the opacity and visibility of the error message itself */
  @keyframes hideAafterDelay {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
      visibility: hidden;
    }
  }
}

/* Styles for text input fields within forms */
@layer components {
  .critch-form-input {
    @apply rounded-md border-2 border-solid border-hard-white border-opacity-70 px-3 py-2 text-sm focus:outline-1 focus:outline-secondry-gray;
  }
}

/*
  Styles for modals, creating a darkened overlay and centered content:
*/
.critch-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}
